<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-inverse" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
   </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a th:href="@{~/taxiapp}">Main Page</a>
            </li>
            <li>
                <a th:href="@{~/linearRegression}">Linear Regression</a>
            </li>
            <li>
                <a th:href="@{~/mapOperations}">Map</a>
            </li>
            <li>
                <a th:href="@{~/correlations}">Correlations</a>
            </li>
            <li>
                <a th:href="@{~/help}">Help</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>