<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<tbody>
<form action="#" th:action="@{/correlations}" th:object="${options}">
    <fieldset>
        <table class="table">
            <tbody>
            <br/>
            <tr>
                <th>
                    <label th:text="${'columns'}">columns</label></th>
                <th>
                    <input type="text" class="form-control" th:field="*{columns}" />
                </th>
            </tr>
            <tr>
                <th>
                    <label th:text="${'Conditions'}">Conditions</label></th>
                <th>
                    <input type="text" class="form-control" th:field="*{conditions}" />
                </th>
            </tr>
            <tr>
                <label th:text="${'Starting Month'}">Month</label>
                <select class="btn btn-default" th:field="*{startMonth}">
                    <option th:each="month : ${allMonths}" th:value="${month}" th:text="${month}">Month</option>
                </select>
            </tr>
            <tr>
                <label th:text="${'Year'}">Year</label>
                <select class="btn btn-default" th:field="*{startYear}">
                    <option th:each="year : ${allYears}" th:value="${year}" th:text="${year}">Year</option>
                </select>
            </tr>
            <br/>
            <tr>
                <label th:text="${'Ending Month'}">Month</label>
                <select class="btn btn-default" th:field="*{endMonth}">
                    <option th:each="month : ${allMonths}" th:value="${month}" th:text="${month}">Month</option>
                </select>
            </tr>
            <tr>
                <label th:text="${'Year'}">Year</label>
                <select class="btn btn-default" th:field="*{endYear}">
                    <option th:each="year : ${allYears}" th:value="${year}" th:text="${year}">Year</option>
                </select>
            </tr>
            <br/>
            <tr>
                <select class="btn btn-default" th:field="*{sources}">
                    <option th:each="source : ${allSources}" th:value="${source}" th:text="${source}">Source</option>
                </select>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="submit">
        <button type="submit" class="btn btn-default" name="setReqs" th:text="${'Set Reqs'}">setReqs</button>
    </div>
    <div th:text="${correlationLevel}">I wonder, if variable exists...</div>
</form>

</tbody>
</body>
</html>