<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<tbody>
<form action="#" th:action="@{/taxiapp}" >
    <div class="submit">
        <button type="submit" class="btn btn-primary" name="delData" th:text="${'Delete data'}">delData</button>
    </div>
</form>

<form action="#" th:action="@{/taxiapp}" th:object="${options}">
    <fieldset>
        <table class="table">
            <tbody>
            <tr>
                <label th:text="${'Operation to perform'}">Operation</label>
                <select class="btn btn-primary dropdown-toggle" th:field="*{operation}">
                    <option th:each="op : ${allOperations}" th:value="  ${op}" th:text="${op}">Operation</option>
                </select>
                <div th:if="${#httpServletRequest.getParameter('operation') == 'correlation'}"> <p>Correlation</p></div>
            </tr>
            <br/>
            <tr>
                <th>
                    <label th:text="${'columns'}">columns</label></th>
                <th>
                    <input type="text" class="form-control" th:field="*{columns}" />
                </th>
            </tr>
            <tr>
                <th>
                    <label th:text="${'Conditions'}">Conditions</label></th>
                <th>
                    <input type="text" class="form-control" th:field="*{conditions}" />
                </th>
            </tr>
            <tr>
                <label th:text="${'Starting Month'}">Month</label>
                <select class="btn btn-default" th:field="*{startMonth}">
                    <option th:each="month : ${allMonths}" th:value="${month}" th:text="${month}">Month</option>
                </select>
            </tr>
            <tr>
                <label th:text="${'Year'}">Year</label>
                <select class="btn btn-default" th:field="*{startYear}">
                    <option th:each="year : ${allYears}" th:value="${year}" th:text="${year}">Year</option>
                </select>
            </tr>
            <br/>
            <tr>
                <label th:text="${'Ending Month'}">Month</label>
                <select class="btn btn-default" th:field="*{endMonth}">
                    <option th:each="month : ${allMonths}" th:value="${month}" th:text="${month}">Month</option>
                </select>
            </tr>
            <tr>
                <label th:text="${'Year'}">Year</label>
                <select class="btn btn-default" th:field="*{endYear}">
                    <option th:each="year : ${allYears}" th:value="${year}" th:text="${year}">Year</option>
                </select>
            </tr>
            <br/>
            <tr>
                <select class="btn btn-default" th:field="*{sources}">
                    <option th:each="source : ${allSources}" th:value="${source}" th:text="${source}">Source</option>
                </select>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="submit">
        <button type="submit" class="btn btn-default" name="setReqs" th:text="${'Set Reqs'}">setReqs</button>
    </div>
</form>

<script th:inline="javascript">
    if ([[${#httpServletRequest.getParameter('operation')}]] !== "geo") {
        /*<![CDATA[*/
        console.log([[${allResults}]]);
        allData = [[${allResults}]];
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Key');
            data.addColumn('number', 'Value');
            validDatasetNumber = allData.length - 1;
            console.log(allData[validDatasetNumber]);
            for (i = 0; i < allData[validDatasetNumber].length; i++) {
                data.addRow([allData[validDatasetNumber][i].key, Number(allData[validDatasetNumber][i].value)])
            }
            //data.addRows();

            // Set chart options
            var options = {
                'title': 'Chart',
                'width': 800,
                'height': 600
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
            var bar_chart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
            chart.draw(data, options);
            bar_chart.draw(data, options)
        }
    }


    /*]]>*/
</script>

</tbody>
<div id="pie_chart_div"></div>
<div id="bar_chart_div"></div>
</body>
</html>