.logo-height{
    height:15px;
}

.navbar-brand-padding{
    padding:18px 5px 18px 15px;
}

.list-inline{
    margin-bottom: 0px;
}

.pusheen{
    height: 40px;
    top:10px;
}

.content-header{
    margin: 20px 0px;
}

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("https://www.visitberlin.de/system/files/styles/visitberlin_hero_visitberlin_desktop_2x/private/image/Taxis_iStock.com_Foto%20Maxiphoto_DL_PPT_0.jpg?itok=gazAZU5e")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list-style-type: none;

